@{
    ViewData["Title"] = "Trang chủ Admin";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến trang Quản trị</h1>
    <p>Đây là khu vực dành cho Tổng Công Ty (Admin).</p>
</div>