@{
    ViewData["Title"] = "Trang chủ Cửa Hàng";
    Layout = "~/Views/Shared/_Layout_Store.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến trang Cửa Hàng</h1>
    <p>Đây là khu vực dành cho Nhân viên Cửa Hàng (Store).</p>
</div>