@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến với Bách Hóa Xanh</h1>
    <p>Nơi mua sắm các sản phẩm tươi ngon mỗi ngày.</p>
</div>